<nav class="navbar navbar-expand-lg navbar-outline-primary bg-outline-primary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link display-4" routerLink="/sumas">Sumas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link display-4" routerLink="/restas">Restas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link display-4 disabled" href="#">Multiplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link display-4 disabled" href="#">División</a>
      </li>
    </ul>
  </div>
</nav>
